<div class="page-header text-center">
  <h1>Profile Page</h1>
  <a href='/logout' class="btn btn-default btn-sm">Logout</a>
  <button ng-click="edit()" class="btn btn-default btn-sm">Edit Profile</button>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="well">
      <p><strong>name:</strong> {{user.user.details.name || user.user.facebook.name}}</p>
      <p><strong>email:</strong> {{user.user.local.email || user.user.facebook.email}}</p>
      <p><strong>location:</strong> {{user.user.details.location}}</p>
      <p><strong>status:</strong> {{user.user.details.status}}</p>
      <p><strong>id:</strong> {{user.user._id || user.user.facebook.name}}</p>
      <p><strong>token: </strong>{{user.user.facebook.token}}</p>
    </div>
  </div>

  <!-- edit profile form -->
  <div class="panel panel-default col-sm-6 col-sm-offset-3" ng-show="update">
    <form ng-submit="updateUser()">
      <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control" ng-model="name">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" name="location" class="form-control" ng-model="location">
      </div>
      <div class="form-group">
        <label>Status</label>
        <input type="text" name="status" class="form-control" ng-model="status">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Update your profile</button>
      </div>
    </form>
  </div><!-- end edit profile form panel -->

  <div class="well col-sm-6 col-sm-offset-3">
    <form ng-submit="newMessage()">
      <div class="form-group">
        <label>Add a message!</label>
        <input type="text" name="comment" class="form-control" ng-model="comment">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger">Submit Message</button>
      </div>
    </form>

    <!-- add the messages after they've been added -->
    <div ng-repeat="item in msg" class="comments">
      <div class="panel panel-default">
        <p><strong>Comment:</strong> {{item.comment || "Add a new message!"}}</p>
        <p><strong>Time:</strong> {{item.time}}</p>
        <div class="form-group">
          <button ng-click="deleteComment()" class="btn btn-warning">Delete Comment</button>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- action="/api/profile" method="post" -->
